*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 1000px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-auto-rows: 100px;
    gap: 5px;
    
}
.box{
    border: 1px solid black;
    background-color: aqua;
    text-align: center;
    font-size: 24px;
    padding-top: 30px;
}
.item1{
    grid-row: 1/3;
    grid-column: 1/2;
}
.item2{
    grid-column: 2/4;
    grid-row: 1/2;
}
.item3{
    grid-row: 1/3;
    grid-column: 4/5;
}
.item4{
    grid-column: 2/4;
    grid-row: 2/3;
}
.item6{
    grid-column: 1/3;
    grid-row: 3/4;    
}
.item7{
    grid-column: 3/5;
    grid-row: 3/4;
}
/*  
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 1000px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 100px;
    gap: 5px;
}

.box{
    border: 1px solid #000;
    background-color: aqua;
    text-align: center;
    font-size: 24px;
    padding-top: 30px;
}


.item1{
    grid-row: 1 / 3;
    grid-column: 1 / 2;
}


.item2{
    grid-row: 1 / 2;
    grid-column: 2 / 4;
}


.item3{
    grid-row: 1 / 3; 
    grid-column: 4 / 5;
}


.item4{
    grid-row: 2 / 3;
    grid-column: 2 / 4;
}

.item6{
    grid-row: 3 / 4;
    grid-column: 1 / 3;
}

.item7{
    grid-row: 3 / 4;
    grid-column: 3 / 5;
} */