// VARAIBLES

$color1:blueviolet;
$color2:burlywood;
$color3:green;
$color4:aqua;
$color5:blue;
$head-size:35px;
$para-size:20px;
$margin-size:10px;
$padding-size:15px;
$justify-text:center;
$border-circle:50%;


.container{
    height: 500px;
    width: 80%;
    background-color: $color1;
    color:$color2;
    text-align: $justify-text

}
h2{
    font-size: $head-size;
}
p{
    font-size: $para-size;
    color:$color5;
}

// NESTED

.nav-bar{
    height: 150px;
    background-color:$color4 ;
    h1{
        font-size: $head-size;
        text-align: $justify-text;
    }
    ul{
        display: flex;
        justify-content: space-around;
        list-style-type: none;
    }
    li button{
        border: none;
        background-color: $color2;
        cursor: pointer;
        font-size:$para-size;
    }
}

// Mixins and Include
@mixin gridbox{
    height: 200px;
    width: 200px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    margin: auto;
    margin-top: 100px;
}

.grid-container{
    @include gridbox
}
.grid-box{
    height: 100px;
    width: 100px;
    background-color: $color3;
    color: $color2;
    border: 2px solid black;
    border-radius: $border-circle;
    text-align: $justify-text;
}

// EXTEND

.another-grid-container{
    @extend .grid-container
}

.boxes{
    @extend .grid-box;
    background-color: $color2;
    color: $color3;
}