*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.grid-container{
    height: 700px;
    width: 700px;
    margin: auto;
    display: grid;
    grid-template-columns: 100px 1fr ;
    justify-content: center;
    align-content: center;
    /* row-gap: 50px; */
    /* column-gap: 30px; */
    gap: 10px;    


}
.box{
    height:50px ;
    width: 200px;
    background-color: blue;
    border: 2px solid black;
    /* border-radius: 50%; */
    text-align: center;
    align-content: center;
}