body{
    height: 1400px;
}

.staticcontainer{
    color: rgb(1, 17, 12);
    font-size: 20px;
    position: static;
}

.relativecontainer{
    height: 100px;
    width: 100px;
    color: blue;
    background-color: aqua;
    border: 2px solid black;
    position: relative;
    top:50px ;
    left: 100px;
}

.absolutecontainer{
    height: 50px;
    width: 50px;
    border-radius:50%;
    border: 1px solid black;
    text-align: center;
    position: absolute;
    left: 150px;
    top: 150px;
}

.fixedcontainer{
    position: fixed;
    border: 1px solid black;

}

.stickycontainer{
    position: sticky;
    top: 10px;
    background-color: blue;
}