*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* mobile view */
.container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    border: 2px solid black;
    border-radius:50% ;
}
.box{
    height: 120px;
    width: 120px;
    text-align: center;
    background-color: aquamarine;
    border: 1px solid black;
    
}
.tablet{
    display: none;
}
.laptop{
    display: none;
}
.desktop{
    display: none;
}


/* tablet view */
@media(min-width:576px) and (max-width:768px){
.mobile{
    display: none;
}    
.tablet{
    display: block;
}
.laptop{
    display: none;
}
.desktop{
    display: none;
}
.container{
    flex-direction: column;
}
}

/* laptop view */
@media(min-width:769px) and (max-width:992px){
.mobile{
    display: none;
}    
.tablet{
    display: none;
}
.laptop{
    display: block;
}
.desktop{
    display: none;
}
.container{
    flex-direction: row-reverse;
}
}

/* desktop view */
@media(min-width:993px){
.mobile{
    display: none;
}    
.tablet{
    display: none;
}
.laptop{
    display: none;
}
.desktop{
    display: block;
}
.container{
    flex-direction: column-reverse;
}
}
