.container{
    display: flex;
    justify-content: center;
    /* flex-direction: column-reverse; */
    /* align-items: center; */
    gap: 10px;

}
.box{
    height: 100px;
    width: 100px;
    border: 1px solid black;
    background-color: aqua;
}