*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
div ul{
    margin: 20px;
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
}
.nav{
    display: none;
}

@media(max-width:700px){
    div ul {
        display: none;
    }
    .nav{
        display: block;
    }
    
}