*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif ;
}
.container1{
    height: 400px;
    width: 300px;
    border: 1px solid black;
    /* margin: auto; */
    margin-top: 100px;
}
.image-container1{
    height: 20px;
    text-align: center;
    margin-top: 30px;
}
.image1{
    height:100px ;
}
.content-container1{
    height: 70px;
    text-align: center;
    padding: 20px;
}
.head1{
    margin-top: 100px;
    text-align: center;
    margin-bottom: 20px;
}
.para1{
    text-align: center;
}
.button1{
    margin-top: 20px;
    height: 30px;
    width: 200px;
    border-radius: 15px;
    background-color: black;
    color: white;   
}
.container2{
    height: 400px;
    width: 300px;
    border: 1px solid black;
    /* margin: auto; */
    margin-top: 100px;
    background-color: brown ;
}
.image-container2{
    height: 100px;
    text-align: center;
    margin-top: 30px;
    background-color: brown;   
}
.image2{
    height:100px ;
    background-color: brown;
}
.content-container2{
    height: 70px;
    text-align: center;
    padding: 20px;
}
.head2{
    margin-top: 20px;
    text-align: center;
    margin-bottom: 20px;
    color: white;
}
.para2{
    text-align: center;
}
.button2{
margin-top: 20px;
height: 30px;
width: 200px;
border-radius: 15px;
border: none;
}
.container3{
    height: 400px;
    width: 300px;
    border: 1px solid black;
    /* margin: auto; */
    margin-top: 100px;
}
.image-container3{
    height: 100px;
    text-align: center;
    margin-top: 40px;
}
.image3{
    height:70px ;

}
.content-container3{
    height: 70px;
    text-align: center;
    padding: 20px;
}
.head3{
    margin-top: 15px;
    text-align: center;
    margin-bottom: 20px;
}
.para3{
    text-align: center;
}
.button3{
    margin-top: 20px;
    height: 30px;
    width: 200px;
    border-radius: 15px;
    background-color: black;
    color: white;    
}

.parent-container{
    display: flex;
    justify-content: center;
    gap: 30px; ;
    /* flex-direction: column; */
    /* flex-direction: column-reverse; */
    /* flex-direction: row-reverse; */
    /* align-items: center; */
    flex-wrap: wrap;
}
