*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container{
    margin: auto;
    /* height: 700px; */
    width: 900px; 
    padding: 100px;
    height: 100vh;
    /* width: 100vw; */
    background-color: burlywood;
}

.content-container{
    height: 500px;
    width: 500px;
    background-color: black;
    color: white;
    margin: auto;
    border: 2px solid blue;
    border-radius: 15px;
}
h1{
    font-size: 40px;
    text-align: center;
    margin-top: 50px;
}
input{
    margin-top: 20px;
    margin-left: 100px;
    height: 40px;
    width: 220px;
    border: none;
    border-radius: 5px;
}
button{
    height:38px;
    width: 50px;
    margin-left: 5px;
    border: none;
    border-radius: 5px;
    background-color: rgb(73, 73, 221);
    font-size: 20px;
}
h2{
    text-align: center;
    margin-top: 20px;
    font-size: 25px;
}