*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-container{
    height: 100vh;
    width: 100vw; 
    display: flex;
    justify-content: center;
    background-color: rgb(255, 222, 178);
}
.content-container{
    width: 500px;
    background-color: rgb(24, 19, 19);
    color: rgb(212, 199, 199);
    margin: auto;
    border: 1px solid blue;
    border-radius: 20px;
    padding: 20px;
}
#todoInput{
    margin-top: 20px;
    margin-left: 50px;
    padding: 10px;
    font-size: 15px;
    height: 50px;
    width: 280px;
    border: none;
    border-radius: 10px;
    background-color: beige;
    outline: none;
    color: rgb(27, 26, 26);
}
#addTodo{
    height:38px;
    width: 100px;
    margin-left: 15px;
    border: none;
    border-radius: 10px;
    background-color: rgb(73, 73, 221);
    font-size: 15px;
    cursor: pointer;
    transition-duration: 300ms;
}
#addTodo:hover{
    background-color: white; 
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    color: blue;
}

#todoList > * + * {
  margin-top: 8px;
}







.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f4f4f4;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.left-section {
  display: flex;
  align-items: center;
  gap: 10px;
}
.right-section> * + * {
  margin-left: 8px;
}

.completed {
  text-decoration: line-through;
  color: gray;
}

.not-completed {
  color: black;
}

.edit-btn {
  color: rgb(51, 51, 255);
  background: none;
  border: none;
  cursor: pointer;
}

.edit-btn:hover {
  color: rgb(1, 1, 97);
}

.delete-btn {
  color: rgb(252, 64, 64);
  background: none;
  border: none;
  cursor: pointer;
}

.delete-btn:hover {
  color: rgba(149, 20, 20, 0.943);
}
