/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: blue;
    
} */

/* .firstheading{
    background-color: blueviolet;
    text-align: center;
}
.secondheading{
    background-color: antiquewhite;
    text-align: left;
}
.firstpara{
    background-color: aqua;
    text-align: center;
}
.secondpara{
    text-align: left;
    
} */

/* p{
    font-size: 30px;
    background-color: cadetblue;
} */

/* #hello{
    background-color: blue;
    font-size: 30px;
} */

/* a{
    color: aqua;
} */

/* h1,p{
    background-color: chartreuse;
    font-size: 20px;
    text-align: center;
    
} */

/* section header{
    background-color: aqua;
    text-align: end;
} */

/* ul>li{
    list-style: none;
    color: aqua;
} */

/* h1+h3{
    font-size: small;
    text-align: center;
    color: blue;
} */

h1~p{
    color: blueviolet;
    text-align: end;
    font-size: 25px;
}
/* 
button:hover{
    color: aqua;
    height: 75px;
    font-weight: 200px;
    cursor: pointer;
} */

/* .para::first-letter{
    color: blue;
    font-size: 50px;
} */